@import "tailwindcss";
@layer components {
  .custom-container {
    @apply w-full mx-auto p-2 sm:w-[90%] md:w-[85%] md:p-3 lg:max-w-[1440px];
  }
  .layout-container {
    @apply flex flex-col gap-6 md:gap-8 lg:gap-12 2xl:gap-16;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v22-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v22-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v22-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

@keyframes flying {
  0% {
    opacity: 0.5;
    top: 80%;
    left: 10%;
  }
  25% {
    opacity: 0.75;
    top: 60%;
    left: 30%;
  }
  50% {
    opacity: 1;
    top: 40%;
    left: 50%;
  }
  75% {
    top: 40%;
    left: 60%;
    opacity: 0.75;
  }
  100% {
    opacity: 0.5;
    top: 80%;
    left: 70%;
  }
}
.butterfly {
  animation-name: flying;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
